__pycache__
.vscode
ptongue
AIPS.py
AIPSTask.py
AIPSData.py
AIPSUtil.py
Wizardry
LocalProxy.py
Proxy
AIPSLite.py
ObitTask.py
Obit.py
vipcals/1_100/
vipcals/1_100_v2/
vipcals/1_100_v3/
vipcals/1_100_ionos/
vipcals/101_200/
vipcals/test_input.json
vipcals/pipeline_OLD.py
vipcals/__main__OLD.py
vipcals/1_100*
vipcals/vipcals100*
vipcals/test*
input_*
GUI/ui_files/
dockerfiles/